.maina{
    display:block;
    justify-content: center;
    align-items: center;
    height: 690px;
   background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    /* text-align: left; */
    height: 100vh;
}
.texta{
    padding: 100px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}