.mainb{
    display:block;
    justify-content: center;
    align-items: center;
   background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}
.blog{
    text-align: center;
    font-size: 1000%;
    padding-top: 10%;
}
@media (max-width: 768px) {
    .blog {
        text-align: center;
        font-size: 100%;
        padding-top: 10%;
    }
    }
