/* main.css */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    height: 100vh;
    margin-top: -5.35%;
}

.main__container {
    padding: 20px;
    border-radius: 10px;
}

.main__content .text p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.main__content .text h1 {
    font-size: 2.5rem;
    margin: 10px 0;
}

.main__content .text li {
    list-style: none;
    font-size: 1.2rem;
    margin: 5px 0;
}

.icons{
    justify-content: center;
    align-items: center;
}
.icon{
    margin-right: 15px;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
.instagram:hover {
    color: rgb(131, 58, 180);
} 
.linkedin:hover {
    color: rgb(0, 119, 181)
} 